<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>San Ramon Cafes with Wi-Fi</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
<main>
    <section id="hero">
        <h1>San Ramon Cafe & Wifi API</h1>
        <p>How to get all the Cafes with Wi-Fi in San Ramon.</p>
        <a href="https://documenter.getpostman.com/view/29419446/2s9Y5cug1k">Read the Documentation</a>
    </section>
</main>
<script src="script.js"></script>
</body>
</html>
